<form [formGroup]="voteForm" *ngFor="let data of data" (ngSubmit)="vote(data._id)" novalidate>

  <div>
      <h1>{{data.title}}</h1>
  </div>

  <div class="row">

    <div class="col-xs-8">
      <div class="radio" *ngFor="let option of data.options">
        <input type="radio" formControlName="options"  name="options" value={{option.option}} />  {{option.option}}
      </div>
    </div>

    <div class="col-xs-4 vote">
      <input type="submit" value="vote" class="btn btn-success ">
    </div>
  </div>
</form>
