<form class="view" [formGroup]="voteForm" (ngSubmit)="vote(formData._id,formData.option)" novalidate>

  <div>
    <h1 class="title">{{formData.title}} <a> {{formData.date}}</a>
    </h1>

  </div>

  <div class="row well">

    <div class="col-xs-4">
      <div class="radio " *ngFor="let option of formData.options;">
        <input type="radio" formControlName="options" value={{option.option}} /> {{option.option}}
      </div>
    </div>

    <div class="col-xs-4 vote">
      <input type="submit" value="vote" [disabled]="!voteForm.valid" class="btn btn-success ">
    </div>
    <div class="col-xs-4">
      <div *ngIf="visible">
        <div align="center"><b>what other thinks</b></div>
        <div align="center" *ngFor="let option of formData.options">
          {{option.option}} <span class="badge">{{option.vote}}</span>
        </div>
      </div>
    </div>
  </div>
</form>
Last updated: {{mydate | amLocal | amDateFormat: 'DD.MM.YYYY'}}
