<form class="form-horizontal" (ngSubmit)="create()" [formGroup]="PollCreationForm" novalidate>
  <div>
    <div class="form-group" [ngClass]="displayFieldCss('title')">
      <label class="control-label">
      Please Enter the title
    </label>
      <input type="text" class="form-control" formControlName="title" required/>
    </div>
    <div align="center">
      <display-error [displayError]="isFieldValid('title')" errorMsg="Please Enter A Title">
      </display-error>
    </div>

    <div>
      <div class="form-group">
        <label class="control-label col-xs-1 ">a.</label>
        <div class="col-xs-10" [ngClass]="displayFieldCss('option1')">
          <input type="text" class="form-control" formControlName="option1" required/>
        </div>
      </div>
      <div align="center">
        <display-error [displayError]="isFieldValid('option1')" errorMsg="Please Enter Option1">
        </display-error>
      </div>

      <div class="form-group">
        <label class="control-label col-xs-1">b.</label>
        <div class="col-xs-10" [ngClass]="displayFieldCss('option2')">
          <input type="text" class="form-control" formControlName="option2" required/>
        </div>
      </div>
      <div align="center">
        <display-error [displayError]="isFieldValid('option2')" errorMsg="Please Enter Option2">
        </display-error>
      </div>

      <div class="form-group">
        <label class="control-label col-xs-1">c.</label>
        <div class="col-xs-10" [ngClass]="displayFieldCss('option3')">
          <input type="text" class="form-control" formControlName="option3" required/>
        </div>
      </div>
      <div align="center">
        <display-error [displayError]="isFieldValid('option3')" errorMsg="Please Enter Option3">
        </display-error>
      </div>

      <div class="form-group">
        <label class="control-label col-xs-1">d.</label>
        <div class="col-xs-10" [ngClass]="displayFieldCss('option4')">
          <input type="text" class="form-control" formControlName="option4" required/>
        </div>
      </div>
      <div align="center">
        <display-error [displayError]="isFieldValid('option4')" errorMsg="Please Enter Option4">
        </display-error>
      </div>

    </div>
    <div align="center">
      <button type="submit" [disabled]="!PollCreationForm.valid" class="btn btn-success">Submit</button>
      <button type="reset" class="btn btn-default">Reset</button>
    </div>
  </div>
</form>
