<ol class="view" type="1">
  <div *ngFor="let data of data">

    <div class="row">
      <form class="form-horizontal" (ngSubmit)="changeTitle(editData.data._id,editData.data.title)" [formGroup]="changeTitleForm" novalidate>
        <modal #myModal (onOpen)="editTitle(data._id)" (onSubmit)="changeTitle(editData.data._id,editData.data.title)">
          <modal-header>
            <h4 class="modal-title">Enter New Title</h4>
          </modal-header>
          <modal-content>
            <input *ngIf="editData" class="form-control" type="text" [(ngModel)]="editData.data.title" name="title" formControlName="title" required/>
          </modal-content>
          <modal-footer>
            <button type="submit" class="btn btn-success">Submit</button>
            <button class="btn btn-primary" (click)="myModal.close()">close</button>
          </modal-footer>
        </modal>
      </form>
    </div>
    <div>
      <li class="listmain">
        <label>{{data.title}}</label>
        <button (click)="myModal.open()" class="btn btn-link">Edit Title</button>
        <div class="deletediv"><button class="btn btn-link" (click)="delete(data._id)">Delete Poll</button>
        </div>
        <ol type="a">
          <div *ngFor="let option of data.options">
            <li>
              <div>{{option.option}}
                <button (click)="editOptionModal.open()" class="btn btn-link">(edit Option)</button>
                <a (click)="deleteOption(data._id,option.option)"><span class="glyphicon glyphicon-remove"></span></a>



              </div>

            </li>
            <div class="row">
              <form class="form-horizontal" (ngSubmit)="editOption(data._id,option.option,editOptionForm.value)" [formGroup]="editOptionForm" novalidate>
                <modal #editOptionModal (onSubmit)="editOption(data._id,option.option,editOptionForm.value)">
                  <modal-header>
                    <h4 class="modal-title">Enter New Option</h4>
                  </modal-header>
                  <modal-content>
                    <input class="form-control" type="text" name="editoption" placeholder="{{option.option}}" formControlName="editoption" required/>
                  </modal-content>
                  <modal-footer>
                    <button type="submit" [disabled]="!editOptionForm.valid" class="btn btn-success">Edit</button>
                    <button class="btn btn-primary" (click)="editOptionModal.close()">close</button>
                  </modal-footer>
                </modal>
              </form>
            </div>



          </div>
          <button type="button" (click)="optionModal.open()" class="btn btn-link">add new option</button>

          <div class="row">
            <form class="form-horizontal" (ngSubmit)="newopt(data._id,newOptionForm.value)" [formGroup]="newOptionForm" novalidate>
              <modal #optionModal (onSubmit)="newopt(data._id,newOptionForm.value)">
                <modal-header>
                  <h4 class="modal-title">Enter New Title</h4>
                </modal-header>
                <modal-content>
                  <input class="form-control" type="text" name="option"  formControlName="option" required/>
                </modal-content>
                <modal-footer>
                  <button type="submit" [disabled]="!newOptionForm.valid" class="btn btn-success">Submit</button>
                  <button class="btn btn-primary" (click)="optionModal.close()">close</button>
                </modal-footer>
              </modal>
            </form>
          </div>

        </ol>
      </li>
    </div>
  </div>
</ol>
