.view {
  background-color: hsla(117, 33%, 62%, 0.57);
  border-radius: 18px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.deletediv {
  float: right;
  padding-right: 10px;
}

.listmain {
  padding: 15px 0px;
}
.line{
  border-color: #bedeb0;
}
