.view {
  background-color: #eaeae1;
  border-radius: 18px;
  padding-bottom: 10px;
  padding-top: 5px;
  border: 1px solid black;
  border-top:5px solid green;
}

.main {
  padding-bottom: 40px;
}

.deletediv {
  padding-right: 10px;
  color: black;
  margin-right: 33px;
}

.titlelist {
  padding: 15px 0px;
}

.title {
  background-color: white;
  margin-left: 22px;
  padding: 1px 15px;
  width: 80%;
}

.edit {
  float: right;
}

.pencil {
  margin-right: 15px;
  color: green;
}

.option {
  background-color: white;
}

.optionlist {
  padding: 10px;
}

.add {
  margin-top: 10px;
}

.addfont {
  color: green;
}

.marginoptions {
  margin-left: 23px;
}
.remove{
  color: tomato;
}
