<ol type="1">
  <div class="main" *ngFor="let data of data">

    <div class="row">
      <form class="form-horizontal" (ngSubmit)="changeTitle(editData.data._id,editData.data.title)" [formGroup]="changeTitleForm" novalidate>
        <modal #myModal (onOpen)="editTitle(data._id)" (onSubmit)="changeTitle(editData.data._id,editData.data.title)">
          <modal-header>
            <h4 class="modal-title">Enter New Title</h4>
          </modal-header>
          <modal-content>
            <input *ngIf="editData" class="form-control" type="text" [(ngModel)]="editData.data.title" name="title" formControlName="title" required/>
          </modal-content>
          <modal-footer>
            <button type="submit" class="btn btn-success">Submit</button>
            <button class="btn btn-primary" (click)="myModal.close()">close</button>
          </modal-footer>
        </modal>
      </form>
    </div>
    <div class="view">
      <div align="right" class="deletediv"><a class="btn btn-link" (click)="delete(data._id)"><span class="glyphicon glyphicon-trash"></span></a></div>
      <li class="titlelist">
        <div class="titlehead">

          <div class="edit">
            <a (click)="myModal.open()"><span class="glyphicon glyphicon-pencil pencil"></span></a>
          </div>
          <div class="title">
            <h5><b>{{data.title}}</b></h5>
          </div>


        </div>
        <ol class="marginoptions" type="a">
          <div *ngFor="let option of data.options">
            <div class="row">
              <li class="optionlist">
                <div class="option col-xs-8">{{option.option}}</div>
                <div class="col-xs-4"><a (click)="editOptionModal.open()"><span class="glyphicon glyphicon-pencil pencil"></span></a>
                  <a (click)="deleteOption(data._id,option.option)"><span class="glyphicon glyphicon-remove remove"></span></a>
                </div>
              </li>
            </div>


            <div class="row">
              <form class="form-horizontal" (ngSubmit)="editOption(data._id,option.option,editOptionForm.value)" [formGroup]="editOptionForm" novalidate>
                <modal #editOptionModal (onSubmit)="editOption(data._id,option.option,editOptionForm.value)">
                  <modal-header>
                    <h4 class="modal-title">Enter New Option Name</h4>
                  </modal-header>
                  <modal-content>
                    <input class="form-control" type="text" name="editoption" placeholder="{{option.option}}" formControlName="editoption" required/>
                  </modal-content>
                  <modal-footer>
                    <button type="submit" [disabled]="!editOptionForm.valid" class="btn btn-success">Edit</button>
                    <button class="btn btn-primary" (click)="editOptionModal.close()">close</button>
                  </modal-footer>
                </modal>
              </form>
            </div>



          </div>
          <div class="add">
            <a class="addfont" type="button" (click)="optionModal.open()"><span class="glyphicon glyphicon-plus"></span> Add New Option</a>
          </div>
          <div class="row">
            <form class="form-horizontal" (ngSubmit)="newopt(data._id,newOptionForm.value)" [formGroup]="newOptionForm" novalidate>
              <modal #optionModal (onSubmit)="newopt(data._id,newOptionForm.value)">
                <modal-header>
                  <h4 class="modal-title">Enter New Option</h4>
                </modal-header>
                <modal-content>
                  <input class="form-control" type="text" name="option" formControlName="option" required/>
                </modal-content>
                <modal-footer>
                  <button type="submit" [disabled]="!newOptionForm.valid" class="btn btn-success">Submit</button>
                  <button class="btn btn-primary" (click)="optionModal.close()">close</button>
                </modal-footer>
              </modal>
            </form>
          </div>

        </ol>
      </li>
    </div>
  </div>
</ol>
