.doc-nav {
  background-color: #563d7c;
  color: white
}

.votediv {
  background-color: red;
}

.second {
  background-color: green;
}

.third {
  background-color: lightblue;
}

.create {
  border: 1px solid grey;
}

.view {
  border: 1px solid grey;
}

.take {
  border: 1px solid grey;
}
.info{
  margin-top: 20px;
}
.icons{
  font-size: 50px;
}
