<div class="container">
	<div class="row main">
		<div class="main-login main-center">
			<form class="form-horizontal" (ngSubmit)="onSubmit(user)" [formGroup]="RegistrationForm" novalidate>

				<div class="form-group">
					<label for="name" class="cols-sm-2 control-label">Your Name</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
							<input type="text" formControlName="name" name="name" placeholder="Enter your Name" />
							<div [hidden]="name.valid || username.untouched">

								<div [hidden]="!name.hasError('minlength')">
									Name can not be shorter than 5 characters.
								</div>
								<div [hidden]="!name.hasError('required')">
									Name is required.
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="username" class="cols-sm-2 control-label">Username</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<input type="text" formControlName="username" name="username" placeholder="Enter your Username" />
							<div [hidden]="username.valid || username.untouched">

								<div [hidden]="!username.hasError('minlength')">
									Username can not be shorter than 5 characters.
								</div>
								<div [hidden]="!username.hasError('required')">
									Username is required.
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="role" class="cols-sm-2 control-label">Role</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<select name="role">
								<option value="admin">Admin</option>
								<option value="voter">Voter</option>
							</select>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="password" class="cols-sm-2 control-label">Password</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<input type="password" formControlName="password" name="password" placeholder="Enter your Password" />
							<div [hidden]="username.valid || username.untouched">
								<div [hidden]="!username.hasError('minlength')">
									Password can not be shorter than 5 characters.
								</div>
								<div [hidden]="!username.hasError('required')">
									Passord is required.
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group main-center ">
					<button type="submit" (click)="register()" class="btn btn-success btn-lg login-button" [disabled]="!RegistrationForm.valid">Register</button>
				</div>
				<div class="login-register">
					<a href="#">Login</a>
				</div>

			</form>
		</div>
	</div>
</div>
