<body>
	<div class="container">
		<div align="center">
			<h1 class="heading"><b>Registration Form</b></h1>
		</div>
		<div class="">
			<div class="row main">
				<div class="main-login main-center">
					<form class="form-horizontal" (ngSubmit)="register()" [formGroup]="RegistrationForm" novalidate>

						<div class="form-group" [ngClass]="displayFieldCss('name')">
							<label for="name" class="cols-sm-2 control-label required">Your Name</label>
							<div class="cols-sm-10">
								<div>
									<input type="text" class="form-control" formControlName="name" name="name" placeholder="Enter your Name" />
								</div>
								<div>
									<display-error [displayError]="isFieldValid('name')" errorMsg="Please Enter Your Name">
									</display-error>
								</div>
							</div>
						</div>

						<div class="form-group" [ngClass]="displayFieldCss('username')">
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<input type="text" class="form-control" formControlName="username" name="username" placeholder="Enter your Username" />
								</div>
								<div>
									<display-error [displayError]="isFieldValid('username')" errorMsg="Please Enter Your UserName">
									</display-error>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="role" class="cols-sm-2 control-label">Role</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<select name="role" class="form-control">
								<option value="admin">Admin</option>
								<option value="guest">Guest</option>
							</select>
								</div>
							</div>
						</div>

						<div class="form-group" [ngClass]="displayFieldCss('password')">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<input type="password" class="form-control" formControlName="password" name="password" placeholder="Enter your Password" />
								</div>
								<div>
									<display-error [displayError]="isFieldValid('password')" errorMsg="Please Enter Your Password">
									</display-error>
								</div>
							</div>
						</div>

						<div class="form-group main-center ">
							<button type="submit" class="btn btn-success btn-lg login-button" [disabled]="!RegistrationForm.valid"><b>Register</b></button>
							<button type="reset" class="btn btn-default btn-lg reset-button"><b>Reset</b></button>
						</div>
						<div class="login-register">
							<a [routerLink]="['/login']"><h3><b>Login</b></h3></a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
